body{
	font-family: 'swnmono', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 24px;
	background-color: rgb(20, 20, 20);
	color: whitesmoke;
	outline-style: none;
}
 
h3{
	text-align: center;
}

div{
	margin-top: 50px;
	margin-left: 25%;
	margin-right: 25%;
}

a{
	color: goldenrod;
	font-size: 18px;
	margin-right: 500px;
}

@font-face {
	font-family: 'swnmono';
	src: url('swnmono.ttf') format('tff');
	font-weight: normal;
	font-style: normal;
  }