@font-face {
	font-family: 'swn';
	src: url('swn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'swn', Courier, monospace;
	font-size: 24px;
	background-color: #131313;
	color: #dddddd;
	outline-style: none;
}

h3{
	text-align: center;
}

div{
	margin-top: 50px;
	margin-left: 25%;
	margin-right: 25%;
}

a{
	color: #909FAF;
	font-size: 18px;
	margin-right: 500px;
}